{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block body %}
<body class="main-layout">
      <!-- loader  -->
      {# <div class="loader_bg">
         <div class="loader"><img src="brandon/images/loading-unscreen.gif" alt="#" /></div>
      </div> #}
      <!-- end loader -->
      <div id="mySidepanel" class="sidepanel">
         <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
         <a class="active" href="/home">Home</a>
         <a href="about.html">About</a>
         <a href="classes.html">Classes</a>
         <a href="testimonials.html">Testimonials</a>
         <a href="/mesaAdmin">Administración de mesas</a>
         <a href="/admin">Base de datos</a>
      </div>

      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="index.html"><img src="brandon/images/logo.png" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                     
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9" id="menuitem">
                     <div class="right_bottun">
                        <a class="login" href="/login">Login</a>
                        <a class="login" href="/register">Register</a>
                        <button class="openbtn" onclick="openNav()">PERFIL<img src="brandon/images/usuario.png" alt="#"/> </button> 
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      

      <!-- end header inner -->
      <!-- end header -->
      <!-- banner -->
      <section class="banner_main">
             {#   <div class="evento">
               <div class="container">
                  <div class="row gx-3 ">
                     <div class="col-md-6">
                        <img src="brandon/images/Captura.PNG" alt="#"/>
                     </div>
                     <div class="col-md-6">
                     <h2>evento</h2>
                     <p>sadsadasdasdsadsa<p>
                     </div>
                  </div>
               </div>
            </div> #}

         </div>
      </section>
      <!-- end banner -->
      <!-- about section -->
     
      
      <div id="about" class="about afbecros">
         <div class="container" id="abouut">
            <div class="row">
            <button class="categoria" id="categoriaEvento">EVENTO</button>
               <figure class="card">
                  <img src="brandon/images/pokemonT.jpg" alt="#"/>
                  <h3>Evento: Presentación Pokémon TCG</h3>
                  <p>20 de Mayo, 2023</p>
                  <button class="categoriaaa" id="categoriaEvento"><img src="brandon/images/ellipsis.png" alt="#"/></button>
               </figure>
            </div>
            
         </div>
      </div>
      <!-- about section -->
      <!-- classes section -->
      <div class="classes afbecros">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2> Opciones</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div class="classes_box">
                     <figure><img src="images/classes_img1.png" alt="#"/></figure>
                     <h3>Reservar</h3>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="classes_box">
                     <figure><img src="images/classes_img2.png" alt="#"/></figure>
                     <h3>Ver Juegos</h3>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="classes_box">
                     <figure><img src="images/classes_img3.png" alt="#"/></figure>
                     <h3>Registrase</h3>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="p_fulltext">
                    
                     <a class="read_more" href="#">Leer más</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- classes section -->
      <!-- testimonial section -->
      <div id="testimonial" class="testimonial afbecros">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Opiniones</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div id="myCarousel" class="carousel slide testimonial_Carousel " data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container">
                              <div class="carousel-caption ">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="testimonial_box">
                                          <h3>Padre</h3>
                                          <p>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitationipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="testimonial_box">
                                          <h3>Hijo</h3>
                                          <p>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitationipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="testimonial_box">
                                          <h3>Espiritu Santo</h3>
                                          <p>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitationipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                     <i class='fa fa-angle-left'></i>
                     </a>
                     <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                     <i class='fa fa-angle-right'></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end testimonial section -->
      <!-- contact section -->
      <div id="contact" class="contact afbecros">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Contacto</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <form id="request" class="main_form">
                     <div class="row">
                        <div class="col-md-12 ">
                           <input class="contactus" placeholder="Nombre" type="type" name="Name"> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Teléfono" type="type" name="Phone Number"> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Email" type="type" name="Email">                          
                        </div>
                        <div class="col-md-12">
                           <input class="contactusmess" placeholder="Mensaje" type="type" Message="Name">
                        </div>
                        <div class="col-md-12">
                           <button class="send_btn">Enviar</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- end contact section -->
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-8 offset-md-2">
                     <div class="fid_box">
                        <ul class="location_icon">
                           <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a><br> Lugar</li>
                           <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a><br>+01 1234567890
                           </li>
                           <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a><br> ochio@gmail.com</li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-12">
                     <div class="dolor">
                        <p>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitationipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2023 Todos los derechos reservados para mí</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <script>
         function openNav() {
           document.getElementById("mySidepanel").style.width = "250px";
         }
         
         function closeNav() {
           document.getElementById("mySidepanel").style.width = "0";
         }
      </script>
{% endblock %}